

footer {
    background-color: #000000;
      color: white;
      text-align: center;
      padding: 20px;
      position: absolute;
      bottom: 0;
      width:100%;
      border-radius: 15px;
      left: 0;
}
